# Avaliação – Produto Renda Fixa
## Construção de uma calculadora de renda fixa em Python - NTN-F


Formato de envio: arquivo .ipynb (Jupyter Notebook) conforme instruções a seguir.

- Pode construir quantos métodos/classes/funções adicionais desejarem;
- Pode utilizar bibliotecas abertas;
- O arquivo deve conter as funções solicitadas e os cenários de teste (pelo menos um teste para cada função/método). 
- Comente as funções e o que mais achar necessário no código;

Exemplo de definição da função com docstring detalhando os parâmetros:

```{python}
def calcula_soma(a, b):
''' Calcula a soma de dois números decimais
    a: float
    b: float
    '''
    return a + b
```

Exemplo de teste da função com a definição dos parâmetros e chamada da função:

```{python}
a = 1.3
b = 10.07
resultado = calcula_soma(a, b):
print(f'Resultado: {resultado}')
```

- A nota da avaliação considerará apenas o resultado das funções desejadas (existência de bugs, bom funcionamento, etc);
- Na avaliação qualitativa, faremos comentários de melhorias na estrutura do código (para fins de evolução de aprendizado, e não para reduzir nota).

### Funções/métodos mínimos de entrega:
- calcula_prazo(dt_ini, dt_fim, feriados, convencao)
    - Retorna: prazo anualizado (float)
    - convencao: 'DU/252' ou 'DC/360'
    
    
- constroi_fluxo(dt_fim, frequencia)
    - Retorna: Lista de datas dos fluxos (list datetime.date)
    
    
- calcula_pu(VF, prazo_anual, taxa_anual)
    - Retorna pu (float)
    
    
- calcula_taxa_anual(PU, prazo_anual, valor_base=100)
    - Retorna: taxa_anual (float)
    
    
- calcula_pu_ntnf(dt_venc, dt_base, tir) *
    - Retorna: pu (float)
    - Imprime tabela com o cashflow (Data do fluxo, VF, DU, Fator de desconto, PU)

\* semelhante ao calculado em aula no Excel. Sugere-se aproveitar as funções anteriores para este cálculo.

### Sugestões (itens não obrigatórios):
- Utilizar variáveis de data no formato datetime.date;
- Utilizar o calendário Anbima em .xls (disponibilizado no material de aula ou em: https://www.anbima.com.br/feriados/arqs/feriados_nacionais.xls) para cálculo de dias úteis;

### Itens adicionais:

Se você deseja incrementar seu framework para construção de portfólio pessoal, seguem algumas sugestões de melhorias para o projeto. 

Obs: Estes itens não serão considerados na nota, trabalhe neles apenas após ter garantido a parte obrigatória:

- Implementar diversas contagens de prazo. Ex: DU/252, 30/360, ACT/360, ACT/ACT. Ver padrões ISDA.
- Implementar tratamento de dias úteis/feriados. Por exemplo, se o vencimento de um fluxo cai num feriado/fim de semana, deslocar para o dia útil anterior ou próximo; escolher o critério via parâmetro;
- Calcular accrual. Ex: def calcula_accrual(dt_ini, dt_base, taxa_anual);
- Ler dados históricos (por exemplos, planilhas do tesouro direto) e fazer gráfico da série de preços de mercado ou das taxas;
- Fazer gráficos de séries históricas de preço de mercado e preço accruado no mesmo gráfico.
- Etc.


## Importando Bibliotecas

In [1]:
# Importando bibliotecas 
from datetime import datetime

# importando a biblioteca RFCalculadora
from RFCalculadora import RFCalculadora

# Instanciando o objeto com a classe RFCalculadora
rfc = RFCalculadora()

## Métodos da biblioteca RFCalculadora

### Carrega_Feriados

Método para carregar a planilha de feriados da Anbima

In [2]:
# Carrega planilha de feriados
# Para o funcionamento correto é obrigatório a carga do dtaframe de Feriados

caminho_arquivo = 'https://www.anbima.com.br/feriados/arqs/feriados_nacionais.xls'

df = rfc.Carrega_Feriados(caminho_arquivo)

DataFrame RFCalculadora.df_feriado carregado com successo.

### Calcula_Prazo

Método para calcular dias entre a data inicial e a data final

In [3]:
# Testando o método Calcula_Prazo com dias corridos
dt_ini = datetime.now().strftime("%Y-%m-%d")
dt_fim = "2027-01-01"
convencao = "DC/360"
dias_corridos = rfc.Calcula_Prazo(dt_ini, dt_fim, convencao)
print(f'Período: {dt_ini} - {dt_fim}: Quantidade de dias corridos: {dias_corridos}')

# Testando o método Calcula_Prazo com dias úteis
convencao = "DU/252"
dias_uteis = rfc.Calcula_Prazo(dt_ini, dt_fim, convencao)
print(f'Período: {dt_ini} - {dt_fim}: Quantidade de dias úteis: {dias_uteis}')

Período: 2022-02-14 - 2027-01-01: Quantidade de dias corridos: 1274
Período: 2022-02-14 - 2027-01-01: Quantidade de dias úteis: 1226

### Calcula_Cupom

Método para calcular o valor do cupom

In [4]:
# Testando o método Calcula_Cupom

vl_nominal = 1000
tx_valor = 10
rfc.Calcula_Cupom(vl_nominal, tx_valor)

48.808848170151634

### Data_Util

Método para verificar se a data é uma data de dia útil

In [5]:
# Testando a função com dia atual
dt = datetime.now().date()
condicao = rfc.Data_Util(dt)
print(f'Data: {dt} é um dia atual? {condicao}')

# Testando a método com feriado
dt = datetime(2022, 12, 25)
condicao = rfc.Data_Util(dt)
print(f'Data: {dt} é um dia útil? {condicao}')

# Testando a função com final de semana
dt = datetime(2023, 2, 5)
condicao = rfc.Data_Util(dt)
print(f'Data: {dt} é um dia útil? {condicao}')

# Testando a função com dia útil
dt = datetime(2024, 8, 7)
condicao = rfc.Data_Util(dt)
print(f'Data: {dt} é um dia útil? {condicao}')

Data: 2022-02-14 é um dia atual? True
Data: 2022-12-25 00:00:00 é um dia útil? False
Data: 2023-02-05 00:00:00 é um dia útil? False
Data: 2024-08-07 00:00:00 é um dia útil? True

### Constroi_Fluxo

Método para construção do fluxo de pagamentos

In [6]:
# Testando o método de construção de fluxos semestral

dt_entrada = datetime.now().date()
dt_vencimento = datetime(2027, 1, 1).date()
vl_nominal = 1000
tx_rendimento = 11.22
tx_valor = 10 # NTN-F = taxa de 10,00%
D1 = 1
qt_prazo_fluxo = 6

df_fluxo = rfc.Constroi_Fluxo(dt_entrada, dt_vencimento, vl_nominal, tx_rendimento, tx_valor, qt_prazo_fluxo, D1)
df_fluxo

    Tipo Data Entrada Data Compra Data Pagamento  Dias         VP
0  Cupom   14/02/2022  15/02/2022     01/07/2022    93  46.930468
1  Cupom   14/02/2022  15/02/2022     02/01/2023   220  44.481577
2  Cupom   14/02/2022  15/02/2022     03/07/2023   344  42.213879
3  Cupom   14/02/2022  15/02/2022     02/01/2024   469  40.044888
4  Cupom   14/02/2022  15/02/2022     01/07/2024   593  38.003375
5  Cupom   14/02/2022  15/02/2022     02/01/2025   723   35.97474
6  Cupom   14/02/2022  15/02/2022     01/07/2025   845  34.169552
7  Cupom   14/02/2022  15/02/2022     02/01/2026   976  32.331921
8  Cupom   14/02/2022  15/02/2022     01/07/2026  1098  30.709527
9  Cupom   14/02/2022  15/02/2022     04/01/2027  1226  29.094785

In [7]:
# Testando o método de construção de fluxos no vencimento

dt_entrada = datetime.now().date()
dt_vencimento = datetime(2027, 1, 1).date()
vl_nominal = 1000
tx_rendimento = 11.22
tx_valor = 10 # NTN-F = taxa de 10,00%
D1 = 1
tp_semestral = 0

df_fluxo = rfc.Constroi_Fluxo(dt_entrada, dt_vencimento, vl_nominal, tx_rendimento, tx_valor, tp_semestral, D1)
df_fluxo

        Tipo Data Entrada Data Compra Data Pagamento  Dias          VP
0  Principal   14/02/2022  15/02/2022     04/01/2027  1226  596.096499

### Calcula_Valor_Presente

Método para calcular o valor presente

In [8]:
# Testando o método Calcula_Valor_Presente

vl_nominal = 1000
qt_dias_prazo = df_fluxo["Dias"].iloc[-1]
tx_rendimento = 11.22

rfc.Calcula_Valor_Presente(vl_nominal, tx_rendimento, qt_dias_prazo)

596.0964991408351

### Calcula_Taxa_Rendimento

Método para calculo da taxa de rendimento

In [9]:
# Testando o método Calcula_Taxa_Rendimento

qt_dias_prazo = df_fluxo["Dias"].iloc[-1]
vl_base = 1000
vl_PU = rfc.Calcula_Valor_Presente(vl_nominal, tx_rendimento, qt_dias_prazo)
rfc.Calcula_Taxa_Rendimento(vl_PU, qt_dias_prazo, vl_base)

11.22

### Calcula_PU_NTNF

Método para calcular o valor do PU do NTN-F, o valor presente do Título e apresentar 
o fluxo de pagamentos semestrais

In [10]:
# Testando o método Calcula_PU_NTNF
dt_entrada = datetime.now().strftime("%d/%m/%Y")
dt_vencimento = '01/01/2027'
vl_nominal = 1000
tx_rendimento = 11.22
D1 = 1
df_fluxo, vl_principal, vl_pu_ntnf = rfc.Calcula_PU_NTNF(dt_entrada, dt_vencimento, vl_nominal, tx_rendimento, D1)

print(f'Valor PU Título     : {vl_pu_ntnf}')
print(f'Valor face do Título: {vl_principal}')
print('')
print(f'Fluxo de pagamento da NTN-F com vencimento em {dt_vencimento}')
df_fluxo

Valor PU Título     : 970.051211
Valor face do Título: 596.096499141

Fluxo de pagamento da NTN-F com vencimento em 01/01/2027

         Tipo Data Entrada Data Compra Data Pagamento  Dias          VP
0       Cupom   14/02/2022  15/02/2022     01/07/2022    93   46.930468
1       Cupom   14/02/2022  15/02/2022     02/01/2023   220   44.481577
2       Cupom   14/02/2022  15/02/2022     03/07/2023   344   42.213879
3       Cupom   14/02/2022  15/02/2022     02/01/2024   469   40.044888
4       Cupom   14/02/2022  15/02/2022     01/07/2024   593   38.003375
5       Cupom   14/02/2022  15/02/2022     02/01/2025   723    35.97474
6       Cupom   14/02/2022  15/02/2022     01/07/2025   845   34.169552
7       Cupom   14/02/2022  15/02/2022     02/01/2026   976   32.331921
8       Cupom   14/02/2022  15/02/2022     01/07/2026  1098   30.709527
9       Cupom   14/02/2022  15/02/2022     04/01/2027  1226   29.094785
10  Principal   14/02/2022  15/02/2022     04/01/2027  1226  596.096499

### Calcula_PU_LTN

Método para calcular o valor do PU do LTN, o valor presente do Título e apresentar 
o fluxo de pagamentos

In [11]:
# Testando o método Calcula_PU_LTN
dt_entrada = datetime.now().strftime("%d/%m/%Y")
dt_vencimento = '01/01/2026'
vl_nominal = 1000
tx_rendimento = 11.48
D1 = 1
df_fluxo, vl_principal, vl_pu = rfc.Calcula_PU_LTN(dt_entrada, dt_vencimento, vl_nominal, tx_rendimento, D1)

print(f'Valor PU Título     : {vl_pu}')

print('')
print(f'Fluxo de pagamento da NTN-F com vencimento em {dt_vencimento}')
df_fluxo

Valor PU Título     : 656.455701

Fluxo de pagamento da NTN-F com vencimento em 01/01/2026

        Tipo Data Entrada Data Compra Data Pagamento Dias          VP
0  Principal   14/02/2022  15/02/2022     02/01/2026  976  656.455701

## Teste Cálculo de NTN-F

As taxas de rendimento são referente ao dia 11/02/2022

In [12]:
#TESOURO PREFIXADO
#com juros semestrais 2023

dt_entrada = datetime.now().strftime("%d/%m/%Y")
dt_vencimento = '01/01/2023'
vl_nominal = 1000
tx_rendimento = 12.59
D1 = 1
df_fluxo, vl_principal, vl_pu_ntnf = rfc.Calcula_PU_NTNF(dt_entrada, dt_vencimento, vl_nominal, tx_rendimento, D1)

vl_base = 1000
qt_dias_prazo = df_fluxo["Dias"].iloc[-1]
vl_PU = rfc.Calcula_Valor_Presente(vl_nominal, tx_rendimento, qt_dias_prazo)
tx_rendimento_conf = rfc.Calcula_Taxa_Rendimento(vl_PU, qt_dias_prazo, vl_base)

print(f'Valor PU Título    : {vl_pu_ntnf}')
print(f'Rentabilidade Anual: {tx_rendimento_conf}')
print('')
print(f'Fluxo de pagamento da NTN-F com vencimento em {dt_vencimento}')
df_fluxo

Valor PU Título    : 992.381444
Rentabilidade Anual: 12.59

Fluxo de pagamento da NTN-F com vencimento em 01/01/2023

        Tipo Data Entrada Data Compra Data Pagamento Dias          VP
0      Cupom   14/02/2022  15/02/2022     01/07/2022   93   46.718909
1      Cupom   14/02/2022  15/02/2022     02/01/2023  220   44.008687
2  Principal   14/02/2022  15/02/2022     02/01/2023  220  901.653848

In [13]:
#TESOURO PREFIXADO
#com juros semestrais 2027

dt_entrada = datetime.now().strftime("%d/%m/%Y")
dt_vencimento = '01/01/2027'
vl_nominal = 1000
tx_rendimento = 11.39
D1 = 1
df_fluxo, vl_principal, vl_pu_ntnf = rfc.Calcula_PU_NTNF(dt_entrada, dt_vencimento, vl_nominal, tx_rendimento, D1)

vl_base = 1000
qt_dias_prazo = df_fluxo["Dias"].iloc[-1]
vl_PU = rfc.Calcula_Valor_Presente(vl_nominal, tx_rendimento, qt_dias_prazo)
tx_rendimento_conf = rfc.Calcula_Taxa_Rendimento(vl_PU, qt_dias_prazo, vl_base)

print(f'Valor PU Título    : {vl_pu_ntnf}')
print(f'Rentabilidade Anual: {tx_rendimento_conf}')
print('')
print(f'Fluxo de pagamento da NTN-F com vencimento em {dt_vencimento}')
df_fluxo

Valor PU Título    : 964.273004
Rentabilidade Anual: 11.39

Fluxo de pagamento da NTN-F com vencimento em 01/01/2027

         Tipo Data Entrada Data Compra Data Pagamento  Dias          VP
0       Cupom   14/02/2022  15/02/2022     01/07/2022    93   46.904023
1       Cupom   14/02/2022  15/02/2022     02/01/2023   220   44.422306
2       Cupom   14/02/2022  15/02/2022     03/07/2023   344   42.125958
3       Cupom   14/02/2022  15/02/2022     02/01/2024   469    39.93122
4       Cupom   14/02/2022  15/02/2022     01/07/2024   593   37.867033
5       Cupom   14/02/2022  15/02/2022     02/01/2025   723   35.817444
6       Cupom   14/02/2022  15/02/2022     01/07/2025   845   33.995002
7       Cupom   14/02/2022  15/02/2022     02/01/2026   976   32.141229
8       Cupom   14/02/2022  15/02/2022     01/07/2026  1098   30.505839
9       Cupom   14/02/2022  15/02/2022     04/01/2027  1226   28.879394
10  Principal   14/02/2022  15/02/2022     04/01/2027  1226  591.683556

In [14]:
#TESOURO PREFIXADO
#com juros semestrais 2031

dt_entrada = datetime.now().strftime("%d/%m/%Y")
dt_vencimento = '01/01/2031'
vl_nominal = 1000
tx_rendimento = 11.66
D1 = 1
df_fluxo, vl_principal, vl_pu_ntnf = rfc.Calcula_PU_NTNF(dt_entrada, dt_vencimento, vl_nominal, tx_rendimento, D1)

vl_base = 1000
qt_dias_prazo = df_fluxo["Dias"].iloc[-1]
vl_PU = rfc.Calcula_Valor_Presente(vl_nominal, tx_rendimento, qt_dias_prazo)
tx_rendimento_conf = rfc.Calcula_Taxa_Rendimento(vl_PU, qt_dias_prazo, vl_base)

print(f'Valor PU Título    : {vl_pu_ntnf}')
print(f'Rentabilidade Anual: {tx_rendimento_conf}')
print('')
print(f'Fluxo de pagamento da NTN-F com vencimento em {dt_vencimento}')
df_fluxo

Valor PU Título    : 927.35752
Rentabilidade Anual: 11.66

Fluxo de pagamento da NTN-F com vencimento em 01/01/2031

         Tipo Data Entrada Data Compra Data Pagamento  Dias         VP
0       Cupom   14/02/2022  15/02/2022     01/07/2022    93  46.862135
1       Cupom   14/02/2022  15/02/2022     02/01/2023   220  44.328516
2       Cupom   14/02/2022  15/02/2022     03/07/2023   344  41.986968
3       Cupom   14/02/2022  15/02/2022     02/01/2024   469  39.751706
4       Cupom   14/02/2022  15/02/2022     01/07/2024   593  37.651918
5       Cupom   14/02/2022  15/02/2022     02/01/2025   723  35.569521
6       Cupom   14/02/2022  15/02/2022     01/07/2025   845  33.720149
7       Cupom   14/02/2022  15/02/2022     02/01/2026   976  31.841265
8       Cupom   14/02/2022  15/02/2022     01/07/2026  1098  30.185737
9       Cupom   14/02/2022  15/02/2022     04/01/2027  1226   28.54124
10      Cupom   14/02/2022  15/02/2022     01/07/2027  1349  27.045451
11      Cupom   14/02/2022  15/02/2022     03/01/2028  1477  25.572035
12      Cupom   14/02/2022  15/02/2022     03/07/2028  1601  24.221253
13      Cupom   14/02/2022  15/02/2022     02/01/2029  1726  22.931785
14      Cupom   14/02/2022  15/02/2022     02/07/2029  1850  21.720469
15      Cupom   14/02/2022  15/02/2022     02/01/2030  1976  20.555137
16      Cupom   14/02/2022  15/02/2022     01/07/2030  2099  19.477884
17      Cupom   14/02/2022  15/02/2022     02/01/2031  2229   18.40063
18  Principal   14/02/2022  15/02/2022     02/01/2031  2229  376.99372

## Teste Cálculo de LTN

As taxas de rendimento são referente ao dia 11/02/2022

In [15]:
# TESOURO PREFIXADO 2023

dt_entrada = datetime.now().strftime("%d/%m/%Y")
dt_vencimento = '01/01/2023'
vl_nominal = 1000
tx_rendimento = 12.58
D1 = 1
df_fluxo, vl_principal, vl_pu = rfc.Calcula_PU_LTN(dt_entrada, dt_vencimento, vl_nominal, tx_rendimento, D1)

print(f'Valor PU Título     : {vl_pu}')

print('')
print(f'Fluxo de pagamento da NTN-F com vencimento em {dt_vencimento}')
df_fluxo

Valor PU Título     : 901.723767

Fluxo de pagamento da NTN-F com vencimento em 01/01/2023

        Tipo Data Entrada Data Compra Data Pagamento Dias          VP
0  Principal   14/02/2022  15/02/2022     02/01/2023  220  901.723767

In [16]:
# TESOURO PREFIXADO 2025

dt_entrada = datetime.now().strftime("%d/%m/%Y")
dt_vencimento = '01/01/2025'
vl_nominal = 1000
tx_rendimento = 11.58
D1 = 1
df_fluxo, vl_principal, vl_pu = rfc.Calcula_PU_LTN(dt_entrada, dt_vencimento, vl_nominal, tx_rendimento, D1)

print(f'Valor PU Título     : {vl_pu}')

print('')
print(f'Fluxo de pagamento da NTN-F com vencimento em {dt_vencimento}')
df_fluxo

Valor PU Título     : 730.25153

Fluxo de pagamento da NTN-F com vencimento em 01/01/2025

        Tipo Data Entrada Data Compra Data Pagamento Dias         VP
0  Principal   14/02/2022  15/02/2022     02/01/2025  723  730.25153

In [17]:
# TESOURO PREFIXADO 2026

dt_entrada = datetime.now().strftime("%d/%m/%Y")
dt_vencimento = '01/01/2026'
vl_nominal = 1000
tx_rendimento = 11.48
D1 = 1
df_fluxo, vl_principal, vl_pu = rfc.Calcula_PU_LTN(dt_entrada, dt_vencimento, vl_nominal, tx_rendimento, D1)

print(f'Valor PU Título     : {vl_pu}')

print('')
print(f'Fluxo de pagamento da NTN-F com vencimento em {dt_vencimento}')
df_fluxo

Valor PU Título     : 656.455701

Fluxo de pagamento da NTN-F com vencimento em 01/01/2026

        Tipo Data Entrada Data Compra Data Pagamento Dias          VP
0  Principal   14/02/2022  15/02/2022     02/01/2026  976  656.455701