# Exercícios

## Seguro

Utilizando o dataset _insurance.csv_ sobre precificação de seguro saúde para clientes, crie um modelo de Regressão Linear para que seja feita essa precificação.

In [1]:
import pandas as pd

insurance = pd.read_csv('../data/insurance.csv')
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

## Admissão

No _dataset_ _Admission_Predict.csv_, temos dados sobre alunos indianos que desejam ingressar em uma universidade e entre as variáveis existem diversas métricas de desempenho deles. Utilizando a variável resposta "Chance de Admissão" (Chance of admit ), crie um modelo de regressão linear para esses dados.

In [ ]:
admit = pd.read_csv('./data/Admission_Predict.csv', index_col = 'Serial No.')
admit

## Diabetes

A partir das características apresentadas no dataset abaixo, crie um modelo de classificação para predizer se uma pessoa é ou não diabética (label).

In [ ]:
col_names = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']

data = pd.read_csv("./data/diabetes.csv", header=0, names=col_names)
data